@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

body {
    background-color: white;
    font-family: 'Open Sans', Italic, monospace;
    margin: 0;
}


/*todo o "nav" do site*/
header{
    background-color: #00263a;
    flex-direction: column;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    margin: 0;
}

.ladoDireito{
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
}

#divBusca{
    width: 70%;
    height: 30%;
    box-sizing: border-box;
    color: rgb(34, 32, 32);
    text-align: left;
    border: 1px solid rgb(238, 238, 240);
    border-radius: 8px;
    font-size: 16px;
    padding: 0%;
    display: inline-flex;
}

#txtBusca{
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 90%;
    border: none;
    height: 100%;
    width: 90%;
    margin: 0px;
}

#botaoBuscar{
    border-radius: 0px 8px 8px 0px;
    padding: 0;
    background-color: rgb(65, 160, 23);
    width: 10%;
    height: 100%;
    margin: 0%;
    font-size: 80%;
}

nav{
    width: 100%;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2% 5% 0 5%;
}


nav a:hover{
    color: #41A017;
}
/*
#fundo{
    position: relative;
    width: 23%;
    height: auto;
}
*/
#logo{
    position: absolute;
    left: 1%;
    top: 5%;
    width: 15%;
    height: auto;
}


#linhaInferior{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    background: rgb(65, 160, 23);
}

#linhaInferior p,span{
    margin: -1% 0 0 0;
}

#linhaInferior span{
    color: #346319;
}

#aviso {
    margin-top: 1%;
    width: 100%;
    color: white;
    background: linear-gradient(90deg, rgb(120, 189, 31) 70%, rgb(0, 130, 0) 30%);
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

#aviso img{
    align-self: center;
    width: 10%;
    height: 10%;
    margin-left: 2%;
}
#aviso div{
    display: flex;
    flex-direction: column;
}

#produtos{
    text-align: center;
}

footer{
    text-align: center;
}