@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

body {
    background-color: white;
    font-family: 'Open Sans', Italic, monospace;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

/*todo o "nav" do site*/
header{
    background: linear-gradient(225deg, rgb(0,38,58) 80%, rgb(255,255,255) 20%);
    box-shadow: 0px 1px 2px black;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1{
    font-size: 10pt;
    text-shadow: 1px 1px 2px black;
}

.ladoDireito{
    margin-top: 2%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
}

#divBusca{
    width: 50%;
    height: 40px;
    color: rgb(34, 32, 32);
    text-align: left;
    border: 1px solid rgb(238, 238, 240);
    border-radius: 8px;
    font-size: 16px;
    padding: 0%;
    display: inline-flex;
}

#txtBusca{
    background-color: white;
    border-radius: 8px 0px 0px 8px;
    padding-left: 5px;
    font-style: italic;
    font-size: 90%;
    border: none;
    height: auto;
    width: 92%;
    margin: 0px;
}

#botaoBuscar{
    align-items: center;
    justify-content: center;
    border-radius: 0px 8px 8px 0px;
    padding: 0;
    background-color: rgb(65, 160, 23);
    width: 8%;
    height: 100%;
    margin: 0%;
}

#botaoBuscar img{
    width: 50%;
    height: auto;
    margin: 0;
}

#botaoBuscar:hover{
    cursor: pointer;
}
#botaoBuscar:active{
    cursor: auto;
    font-size: 75%;
}

nav{
    width: 100%;
    padding: 0;
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2% 5% 0% 5%;
}


nav a:hover{
    color: #41A017;
}

#logo{
    width: 15%;
    align-self: center;
}
#logo img{
    width: 100%;
    height: auto;
    margin-left: 5%;
}


#linhaInferior{
    text-align: center;
    color: white;
    width: 100%;
    height: 60px;
    margin: 0;
    background: rgb(65, 160, 23);
    padding: 10px 0 10px 0;
}

#linhaInferior p,span{
    font-size: 13pt;
}

#linhaInferior span{
    color: #346319;
}

#aviso {
    position: relative;
    margin: 5% 0 0 0;
    width: 100%;
    height: auto;
    color: white;
    background: linear-gradient(90deg, rgb(120, 189, 31) 20%, rgb(0, 130, 0) 80%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#aviso img{
    align-self: center;
    width: 80px;
    height: auto;
    margin-bottom: 15px;
}
#aviso div{
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#aviso h2{
    margin: 0;
}

#corpo{
    box-sizing: border-box;
}

#tituloPrincipal{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: white;
    background: linear-gradient(90deg, rgb(0, 130, 0) 2%, rgb(120, 189, 31) 51%);
}

#containerProdutos{
    width: 100%;
}
#containerProdutos h2{
    align-items: center;
    text-align: left;
    margin-left: 8%;
    margin-bottom: 0;
}

.produtos{
    justify-content: center;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
   margin: 0 10% 0 10%;
}

.produtos a{
    color: black;
    text-decoration: none;
    width: 150px;
    height: auto;
    border: 1px solid rgb(100, 100, 100);
    background-color: white;
    border-bottom: #41A017 3px solid;
    text-align: center;
    margin: 4px;
    align-items: baseline;
    text-align: left;
}

.produtos a:hover{
    box-shadow: 0px 0px 2px black;
}

.produtos a:visited{
    color: black;
}

.produtos a:active{
    color:rgb(65, 160, 23);
}

.produtos p{
    margin: 0% 0% 0% 2%;
    vertical-align: baseline;
    font-size: 10pt;
}

#codigoProduto{
    font-size: 8pt;
    margin-left: 2%;
}

.produtos img{
    width: 100%;
    height: auto;
    margin: 0%;
}

#estrelas{
    font-size: 12pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(247, 247, 1);
    text-shadow: 0px 0px 1px black;
}

#estrelas span{
    font-size: 8pt;
    color: black;
}

#preco{
    display: flex;
    flex-wrap: wrap;
    background: rgb(248, 204, 28);
    margin: 0;
    padding-left: 2%;
    vertical-align: bottom;
}

#preco p{
    color: rgb(180, 42, 39);
    font-size: 14pt;
}

#preco span{
    color: black;
    font-size: 10pt;
}
#precoAntigo{
    text-decoration: line-through;
    margin: 0;
}

#paginaProduto{
    margin: 5%;
    padding-top: 2%;
    background-color: #dddddd;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#paginaProduto img{
    width: 200px;
    height: fit-content;
    margin-right: 2%;
}

#paginaProduto div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#paginaProduto h2{
    margin: 0;
}
#paginaProduto span{
    margin: 0;
}

#paginaProduto button{
    width: 80px;
    height: auto;
    align-self: center;
    font-size: 11pt;
    border: 1px solid black;
    border-bottom: 2px solid #41A017 ;
    background: rgb(253, 253, 253);
}

#paginaProduto button:hover{
   box-shadow: 0px 0px 2px black;
}

#paginaPreco{
    margin: 0;
    color: rgb(223, 56, 43);
    font-size: 15pt;
}
#paginaPreco span{
    color: rgb(223, 56, 43);
    font-size: 11pt;
    text-decoration: line-through;
}
.backgroundContate{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0.02%;
    background-image: url(resources/background-contatenos.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#formulario{
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#formulario fieldset{
    background-color: white;
}

#formulario legend{
    text-shadow: 0px 0px 10px white;
}

#formulario button{
    width: 80px;
    height: auto;
    align-self: center;
    font-size: 11pt;
    border: 1px solid black;
    border-bottom: 2px solid #41A017 ;
    background: rgb(253, 253, 253);
}

#formulario button:hover{
    box-shadow: 0px 0px 2px black;
}

footer{
    text-align: center;
    width: 100%;
    height: auto;
    color: white;
    background: linear-gradient(90deg, rgb(120, 189, 31) 20%, rgb(0, 130, 0) 80%);
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0.02px;
    border-top: 1px solid black;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    header{
        background: rgb(0,38,58);
        box-shadow: 0px 1px 2px black;
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #logo{
        width: 30%;
        align-self: center;
        margin-top: 15px;
    }
    .ladoDireito{
        width: 100%;
    }
    #divBusca{
        width: 70%;
    }
  }

@media only screen and (max-width: 654px) {
    #linhaInferior p,span{
        font-size: 12pt;
    }
    
    #linhaInferior span{
        color: #346319;
    }
}

@media only screen and (max-width: 476px){
    nav a{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 350px) {
    #linhaInferior{
        display: none;
    }
    #divBusca{
        width: 90%;
    }
    
}
